  <div class="card-check">
    <mat-card class="custom-card">
      <div class="flex flex-col items-center justify-center h-full">
        <div class="icon-circle mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H8m12 8H4a2 2 0 01-2-2V6a2 2 0 012-2h16a2 2 0 012 2v12a2 2 0 01-2 2zM4 6l8 6 8-6" />
          </svg>
        </div>
        <h1 class="text-3xl font-bold text-base-content">Controlla la tua email</h1>
        <p class="text-gray-600 my-4">Abbiamo inviato un'email di conferma.<br>Per favore controlla la tua posta per completare la registrazione.</p>
        <div class="card-actions">
          <button class="btn btn-outline w-full" routerLink="/login">
            Torna al Login
          </button>
        </div>
      </div>
    </mat-card>
  </div>
