USE [master]
GO
/****** Object:  Database [DBContiCorrenti]    Script Date: 16/09/2024 16:36:56 ******/
CREATE DATABASE [DBContiCorrenti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBContiCorrenti', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBContiCorrenti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBContiCorrenti_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBContiCorrenti_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBContiCorrenti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBContiCorrenti]
GO
/****** Object:  Table [dbo].[TCategorieMovimenti]    Script Date: 16/09/2024 16:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCategorieMovimenti](
	[CategoriaMovimentoID] [int] IDENTITY(1,1) NOT NULL,
	[NomeCategoria] [varchar](100) NOT NULL,
	[Tipologia] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaMovimentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TContiCorrenti]    Script Date: 16/09/2024 16:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TContiCorrenti](
	[ContoCorrenteID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[CognomeTitolare] [varchar](100) NOT NULL,
	[NomeTitolare] [varchar](100) NOT NULL,
	[DataApertura] [date] NOT NULL,
	[IBAN] [varchar](34) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContoCorrenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMovimentiContoCorrente]    Script Date: 16/09/2024 16:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMovimentiContoCorrente](
	[MovimentoID] [int] IDENTITY(1,1) NOT NULL,
	[ContoCorrenteID] [int] NOT NULL,
	[Data] [date] NOT NULL,
	[Importo] [decimal](10, 2) NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL,
	[CategoriaMovimentoID] [int] NOT NULL,
	[DescrizioneEstesa] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovimentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TMovimentiContoCorrente]  WITH CHECK ADD FOREIGN KEY([CategoriaMovimentoID])
REFERENCES [dbo].[TCategorieMovimenti] ([CategoriaMovimentoID])
GO
ALTER TABLE [dbo].[TMovimentiContoCorrente]  WITH CHECK ADD FOREIGN KEY([ContoCorrenteID])
REFERENCES [dbo].[TContiCorrenti] ([ContoCorrenteID])
GO
ALTER TABLE [dbo].[TCategorieMovimenti]  WITH CHECK ADD CHECK  (([Tipologia]='Uscita' OR [Tipologia]='Entrata'))
GO
USE [master]
GO
