<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BENVEUTO NEL TUO PROFILO</title>
    <link rel="stylesheet" href="profile.component.scss"> 
</head>
<body>

<div class="container">
    <mat-card class="transfer-card">
        <div class="flex items-center mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2" style="height: 24px; width: 24px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
            <h2 class="font-bold text-lg mb-0">Il Mio Profilo</h2>
        </div>

        <div class="profile-info">
            <div class="form-group">
                <label>Conto Corrente ID:</label>
                <input type="input" id="contoid" formControlName="contoid" placeholder="svsvvsd" class="input" required/>        
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="email" id="email" formControlName="email" placeholder="Inserisci per modificare" class="input" required />
            </div>

            <div class="form-group">
                <label>Cognome Titolare:</label>
                <input type="text" id="Cognome" formControlName="cognome" placeholder="Inserisci per modificare" class="input" required />
            </div>

            <div class="form-group">
                <label>Nome Titolare:</label>
                <input type="text" id="nome" formControlName="nome" placeholder="Inserisci per modificare" class="input" required />
            </div>

            <div class="form-group">
                <label>Data Apertura:</label>
                <input type="date" id="dataApertura" formControlName="dataApertura" class="input" required />
            </div>

            <div class="form-group">
                <label>IBAN:</label>
                <input type="text" id="iban" formControlName="iban" placeholder="Inserisci per modificare" class="input" required />
            </div>
        </div>

        <a href="profile.component.html" class="button">Modifica Profilo</a>
    </mat-card>
</div>

</body>
</html>