<div class="card-confirm">
  <mat-card class="custom-card">
    <div class="flex flex-col items-center justify-center h-full">
      <div class="icon-circle mb-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-green-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7" />
        </svg>
      </div>

      <h1 class="text-2xl text-center font-bold leading-tight text-base-content">
        Email Confermata
      </h1>

      <div class="flex justify-center my-8">
        <button
          class="btn btn-outline-secondary btn-wide"
          routerLink="/login">
          Torna al Login
        </button>
      </div>
    </div>
  </mat-card>
</div>
