<div class="navbar w-full justify-end  bg-base-100 border-b border-slate-700">
  <div class="gap-2">
    <div>
      <input type="text" placeholder="Search" class="input input-bordered border-slate-700 w-24 md:w-auto" />
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="assets/me.jpg" alt="Profile">
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a class="text-base-content">Profile</a></li>
        <li><a class="text-base-content">Settings</a></li>
       <li><a class="logout-btn" >Logout</a></li>
<!--  (click)="logout()"-->
      </ul>
    </div>
  </div>
</div>
