<mat-card class="password-card">
  <div class="flex items-center mb-5">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="size-6 mr-2" style="height: 24px; width: 24px;">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
    </svg>
    <h2 class="font-bold text-lg mb-0">Modifica Password</h2>
  </div>

  <div *ngIf="registrationError" role="alert" class="alert alert-error flex items-center p-4 mb-4 text-red-700 bg-red-100 rounded-lg">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current mr-2" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ registrationError }}</span>
  </div>

  <div *ngIf="registrationSuccess" role="alert" class="alert alert-success flex items-center p-4 mb-4 text-green-700 bg-green-100 rounded-lg">  <!-- Messaggio di successo -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current mr-2" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2l4 -4" />
    </svg>
    <span>{{ registrationSuccess }}</span>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">

    <label>Nuova Password</label>
    <div class="input-container">
    <input [type]="hide ? 'password' : 'text'" class="input input-bordered w-full" formControlName="newPassword" placeholder="Inserisci la nuova Password" required />
    <button type="button" class="icon-button" (click)="hide = !hide" [attr.aria-label]="hide ? 'Mostra password' : 'Nascondi password'" [attr.aria-pressed]="hide">
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    </div>

    <label for="confirmPassword">Conferma Nuova Password:</label>
    <div class="input-container">
      <input [type]="hide ? 'password' : 'text'" type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Conferma la nuova password" class="input w-full" required />
      <button type="button" class="icon-button" (click)="hide = !hide" [attr.aria-label]="hide ? 'Mostra password' : 'Nascondi password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>

    <button type="submit" class="btn btn-primary w-full" [disabled]="passwordForm.invalid">
      Cambia Password
    </button>
  </form>
</mat-card>
