<mat-card class="transfer-card">
  <div class="flex items-center mb-5">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2" style="height: 24px; width: 24px;">
      <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
    </svg>
    <h2 class="font-bold text-lg mb-0">Nuovo Bonifico</h2>
  </div>

  <form (ngSubmit)="submitTransfer()" [formGroup]="transferForm">
    <div class="form-group">
      <label for="iban">IBAN Destinatario:</label>
      <input type="text" id="iban" formControlName="iban" placeholder="Inserisci l'IBAN" class="input w-full" required />
    </div>

    <div class="form-group">
      <label for="amount">Importo:</label>
      <input type="number" id="amount" formControlName="amount" placeholder="Inserisci l'importo" class="input w-full" required />
      <span class="absolute right-3 text-lg">€</span>
    </div>

    <div class="form-group">
      <label for="categoria">Categoria:</label>
      <select id="categoria" formControlName="categoria" class="input w-full" required>
        <option value="" disabled>Seleziona una categoria</option>
        <option *ngFor="let category of categories" [value]="category">{{ category.NomeCategoria }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="causale">Causale:</label>
      <input type="text" id="causale" formControlName="causale" placeholder="Inserisci la causale" class="input w-full" required />
    </div>

    <button type="submit" class="btn btn-primary w-full" [disabled]="transferForm.invalid">
      Invia Bonifico
    </button>
  </form>
</mat-card>
