// Variabili per colori
$base-bg-color: --fallback-b1; // Sfondo scuro per il corpo
$card-bg-color: --fallback-b1; // Sfondo riquadro scuro
$collapse-title-color: #e0e0e0; // Colore del titolo
$collapse-content-color: #ffffff; // Colore del contenuto
$button-bg-color: #6200ea; // Colore del pulsante
$button-hover-bg-color: #3700b3; // Colore al passaggio del mouse
$border-radius: 5px; // Raggio del bordo


body {
    font-family: Arial, sans-serif;
    background-color: --fallback-b1;
    margin: 0;
    padding: 20px;
    color: $collapse-content-color; // Testo chiaro per il corpo
}

.container {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end; // Allinea a destra
}

h1 {
    
    margin-bottom: 25px;
}

.profile-info {
    margin-bottom: 15px;
    width: 75%; // Riquadri a tutta larghezza
}

.collapse {
    
    border-radius: $border-radius;
    overflow: hidden;
    margin-bottom: 5px;
    transition: box-shadow 0.3s; // Transizione morbida
}

.collapse:hover {
    background: linear-gradient(145deg,--fallback-b1 , #242424); // Gradient al passaggio del mouse
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); // Ombra più intensa al passaggio del mouse
}

.collapse-title {
    cursor: pointer;
    padding: 15px; // Padding più ampio
    font-weight: bold;
    color: $collapse-title-color;
    transition: background-color 0.3s;
}

.collapse-content {
    padding: 10px;
    color: $collapse-content-color;
    background-color: $card-bg-color; // Colore di sfondo del contenuto
}


.button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: $button-bg-color;
    color: white;
    text-decoration: none;
    border-radius: $border-radius;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background: $button-hover-bg-color;
    transform: translateY(-2px); // Effetto di levitazione al passaggio del mouse
} 