<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BENVEUTO NEL TUO PROFILO</title>
    <link rel="stylesheet" href="profile.component.scss"> <!-- Collegamento al file CSS -->
</head>
<body>

<div class="container">
    <h1>Il Mio Profilo</h1>

    <div class="profile-info">
        <div class="collapse bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">Conto Corrente ID</div>
            <div class="collapse-content">
              <p>1234567890</p>
            </div>
        </div>
    </div>

    
    <div class="profile-info">
        <div class="collapse bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">Email</div>
            <div class="collapse-content">
              <p>ciaogigio</p>
            </div>
        </div>
    </div>
    
    <div class="profile-info">
        <div class="collapse bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">Cognome Titolare</div>
            <div class="collapse-content">
              <p>Magrin</p>
            </div>
        </div>
    </div>
    
    <div class="profile-info">
        <div class="collapse bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">Nome titolare</div>
            <div class="collapse-content">
              <p>Marzio</p>
            </div>
        </div>
    </div>
    
    <div class="profile-info">
        <div class="collapse bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">Data apertura</div>
            <div class="collapse-content">
              <p>21/09/1999</p>
            </div>
        </div>
    </div>

    <div class="profile-info">
        <div class="collapse bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">IBAN</div>
            <div class="collapse-content">
              <p>IT60X0542811101000000123456</p>
            </div>
        </div>
    </div>

    <a href="profile.component.html" class="button">Modifica Profilo</a>
</div>

</body>
</html>

