<div class="flex flex-col items-center justify-center h-screen">
  <div class="w-full sm:max-w-md">
    <h1 class="text-xl text-center font-bold leading-tight text-base-content md:text-2xl ">
      Login
    </h1>
    <app-login-toggle></app-login-toggle>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div>
        <div class="my-3">
          <label class="block mb-2 text-sm font-medium text-base-content">Username</label>
          <label class="input input-bordered flex items-center gap-2">
            <input type="email" class="grow" placeholder="Email" formControlName="username" />
          </label>
        </div>
        <div class="my-3">
          <label class="block mb-2 text-sm font-medium text-base-content">Password</label>
          <label class="input input-bordered flex items-center gap-2">
            <input type="password" class="grow" placeholder="Password" formControlName="password" />
          </label>
          <div class="text-error" *ngIf="loginError">
            {{ loginError }}
          </div>
        </div>
      </div>
      <div class="flex justify-center my-8">
        <button type="submit" class="btn btn-outline-secondary btn-wide" [disabled]="loginForm.invalid">Sign in</button>
      </div>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400 my-8">
        Don’t have an account yet? <a href="#"
                                      class="font-medium text-base-content max-w-full no-underline hover:cursor-pointer mx-2"
                                      routerLink="/register">Sign up</a>
      </p>
    </form>
  </div>
</div>
