<div
  class="card-login flex justify-center items-center min-h-screen bg-base-100"
>
  <div
    class="card w-full max-w-3xl shadow-xl bg-base-200 rounded-lg p-6 md:p-0"
  >
    <div class="flex flex-col md:flex-row">
      <!-- Logo container for mobile -->
      <div
        class="logo-container w-full md:hidden flex justify-center items-center p-6"
      >
        <img
          src="../../../../assets/logoProjectWork.jpg"
          alt="Logo"
          class="w-2/3 h-auto md:h-32 object-contain rounded-lg"
        />
      </div>

      <!-- Form container -->
      <div class="form-container w-full p-6 sm:max-w-md">
        <h1
          class="text-xl text-center font-bold leading-tight text-base-content md:text-2xl"
        >
          Bentornato!
        </h1>
        <app-login-toggle></app-login-toggle>

        <!-- Login error alert -->
        <div
          *ngIf="loginError"
          role="alert"
          class="alert alert-error flex items-center p-4 mb-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current mr-2"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <span>{{ loginError | errorTranslator }}</span>
        </div>

        <!-- Timeout alert -->
        <div
          *ngIf="timeoutMessage"
          role="alert"
          class="alert alert-error flex justify-center items-center p-2"
        >
          <p>{{ timeoutMessage }}</p>
        </div>

        <!-- Login form -->
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <div>
            <div class="my-3">
              <label class="block mb-2 text-sm font-medium">Email</label>
              <input
                type="email"
                class="input input-bordered w-full"
                placeholder="Email"
                formControlName="username"
              />
            </div>
            <div class="my-3">
              <label class="block mb-2 text-sm font-medium">Password</label>
              <div class="relative">
                <input
                  [type]="hide ? 'password' : 'text'"
                  class="input input-bordered w-full"
                  placeholder="Password"
                  formControlName="password"
                />
                <button
                  type="button"
                  class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"
                  (click)="hide = !hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="flex justify-center mt-8">
            <button
              type="submit"
              class="btn btn-outline btn-wide"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
          </div>
        </form>
      </div>

      <!-- Logo container for desktop -->
      <div
        class="logo-container hidden md:flex justify-center items-center p-6 md:w-1/2"
      >
        <img
          src="../../../../assets/logoProjectWork.jpg"
          alt="Logo"
          class="w-full h-auto object-contain rounded-lg"
        />
      </div>
    </div>
  </div>
</div>
