<div class="flex flex-row">
  <div class="card card-bordered bg-base-100 border-slate-700 h-36 w-80 m-4 shadow-xl card-animation">
    <div class="card-body">
      <h2 class="card-title text-xl">Saldo</h2>
      <div class="flex items-baseline text-base-content dark:text-white">
        <span class="text-3xl text-base-content font-semibold">€</span>
        <span class="text-5xl text-base-content font-extrabold tracking-tight">100000</span>
      </div>
    </div>
  </div>

  <div class="card card-bordered bg-base-100 border-slate-700 h-36 w-80 m-4 shadow-xl card-animation">
    <div class="card-body">
      <h2 class="card-title text-xl">Spese mensili</h2>
      <div class="flex items-baseline text-base-content dark:text-white">
        <span class="text-3xl text-base-content font-semibold">€</span>
        <span class="text-5xl text-base-content font-extrabold tracking-tight">560</span>
      </div>
    </div>
  </div>

  <div class="card card-bordered bg-base-100 border-slate-700 h-36 w-52 m-4 shadow-xl card-animation">
    <div class="card-body">
      <h2 class="card-title">N. movimenti</h2>
      <div class="flex items-baseline text-base-content dark:text-white">
        <span class="text-5xl text-base-content font-extrabold tracking-tight">57</span>
      </div>
    </div>
  </div>
</div>
