:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.recharge-card {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }
  }

  .btn {
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
