<div class="container">
  <div class="recharge-card">
    <div class="flex items-center mb-5">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2" style="height: 24px; width: 24px;">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
      </svg>
    <h2 class="text-center font-bold text-xl">
      <strong>Ricarica Telefonica</strong>
    </h2>
    </div>

    <form [formGroup]="rechargeForm" (ngSubmit)="submitRecharge()">
      <div class="form-group">
        <label for="phoneNumber">Numero di Telefono:</label>
        <input type="tel" id="phoneNumber" formControlName="phoneNumber" placeholder="Inserisci il numero" class="input w-full" required />
      </div>

      <div class="form-group">
        <label for="operator">Operatore Telefonico:</label>
        <select id="operator" formControlName="operator" class="select w-full" required>
          <option value="">Seleziona Operatore</option>
          <option value="illiad">Illiad</option>
          <option value="tim">TIM</option>
          <option value="vodafone">Vodafone</option>
          <option value="wind">Wind</option>
          <option value="tre">Tre</option>
        </select>
      </div>

      <div class="form-group">
        <label for="amount">Taglio della Ricarica:</label>
        <select id="amount" formControlName="amount" class="select w-full" required>
          <option value="">Seleziona Importo</option>
          <option value="5">5€</option>
          <option value="10">10€</option>
          <option value="20">20€</option>
          <option value="30">30€</option>
          <option value="50">50€</option>
        </select>
      </div>

      <div class="flex justify-center my-8">
        <button type="submit" class="btn btn-outline-secondary btn-wide" [disabled]="rechargeForm.invalid">Ricarica</button>
      </div>
    </form>
  </div>
</div>
